#chat-container {
    min-width: 400px;
}

.counter {
    display: flex;
    justify-content: flex-end;
}

.dialog {
    max-height: 300px;
    overflow: scroll;
}

.date {
    text-align: center;
}

.message {
    display: flex;
}